
<div class="wrapper-table">
<div class="head-table">
    {{title}}
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th *ngFor="let column of config"
                class="text-center">
                {{ column.title }}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of dataTable" (click)="selectedRow(data)">
            <ng-container *ngFor="let column of config">

                <td *ngIf="column.data" [ngClass]="{center: column?.align == 'center', right: column?.align == 'right'}">
                   <span [innerHtml]="data[column.data] | dynamicPipe : column?.pipe"></span>
                </td>
            </ng-container>
        </tr>
    </tbody>
</table>
</div>
