.wrapper-full{
    background-color: var(--tertiary-color);
    width: 100%;
    min-height:100vh;
}

p,h1,h5, label {
  color:#FFF !important;
}

h5{
  margin:0;
}

.logo{
  background-image:url('/../../../../assets/images/logo-positive.png');
  margin:0;
}

.bg-top{
  background-image: url('/../../../../assets/images/bg-top-fullscreen.jpg');
}

