<div class="container form">

<div class="logo">
</div>
<div class="bg-top"></div>

<div class="wrapper-login">
  <div class="container-form">
    <h5>Welcome back</h5>
    <div class="line-title"></div>
    <h1>Login</h1>
    <br>
    <p>
        For you money safety, please delete all exrestions for the browser you use to log in to your wallet
    </p>

    <div class="form">
        <form [formGroup]="credentials" (ngSubmit)="login()">
            <div class="form-group">
              <label>Nit</label>
                  <input type="text"
                  class="form-control"
                  id="user"
                  placeholder=""
                  formControlName="user">

                  <div *ngIf="credentials.get('user')?.errors && credentials.get('user')?.dirty" class="group-err-message">
                    <span *ngIf="credentials.get('user')?.hasError('onlyNumber')" class="err-message">*Only numbers are allowed</span>
                    <span *ngIf="credentials.get('user')?.hasError('withoutSpace')" class="err-message">*Does not accept spaces</span>
                  </div>

            </div>
            <div class="form-group">
              <label>Password</label>
                  <input type="password"
                  class="form-control password"
                  id="password"
                  placeholder=""
                  formControlName="password">
                  <a href="javascript:;" class="forget-password">Forget password?</a>
                  <div *ngIf="credentials.get('password')?.errors && credentials.get('password')?.dirty" class="group-err-message">
                    <span *ngIf="credentials.get('password')?.hasError('lengthPassword')" class="err-message">*Number of invalid characters</span>
                    <span *ngIf="credentials.get('password')?.hasError('withoutSpace')" class="err-message">*Does not accept spaces</span>
                 </div>

            </div>
            <br>
            <div>
                <button class="btn btn-primary" [disabled]="!credentials.valid">Login</button>
            </div>

        </form>
    </div>
  </div>
</div>

<div class="wrapper-foo-login">
    <div>
        <h5>Don't have account?</h5>
        <p>Registre here</p>
    </div>
    <div>
        <button class="btn btn-outline-primary">Create account</button>
    </div>
</div>
</div>
