
p,h1,h5 {
  color:var(--secondary-color);
}

h5{
  margin:0;
}



.bg-top{
  background-image: url('/../../../assets/images/bg-top-login.jpg');
}


.line-title {
  background-color: var(--light-color);
}

.wrapper-login{
  margin:auto auto;
  max-width:360px;
  position:absolute;
  top:15%;
  left:50%;
  transform:translate(-50%, 0%);
  width: 90%;
}




.form-group label{
  left:-80px;
  width: 80px;
}

.form-control.password{
  padding-right: 100px;
}

.btn{
  font-size: 1rem;
}

.wrapper-foo-login{
  bottom:5vh;
  display:flex;
  justify-content:space-between;
  left:50%;
  margin:auto auto;
  max-width:360px;
  position:absolute;
  transform:translate(-50%, 0%);
  width: 90%;
}

.wrapper-foo-login .btn{
  font-size: 0.8rem;
}

a.forget-password{
  color:var(--secondary-color);
  font-size: 0.7rem;
  position:absolute;
  top:10px;
  right: 10px;
}

