/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

:root{
    --primary-color:#042654;
    --secondary-color:hsl(219, 99%, 40%);
    --tertiary-color:#022F66;
    --blue-light-color:#a4bcec;
    --light-color:#ccdaf5;
    --gray-color:#e5e9f4;
    --primary-font:'Poppins', sans-serif;
    --shadow:0px 0px 5px 0px rgba(0,0,0,0.09);
}

p,
h1,
h2,
h3,
h4,
button,
.form-control,
.btn{
    font-family:var(--primary-font) !important;
}
.bg-top{
  background-position:center;
  background-repeat: no-repeat;
  background-size: contain;
  height:140px;
  top:0;
  left:0;
  position:absolute;
  width: 100%;
}

.logo{
  position: relative;
  background-image:url('src/assets/images/logo-negative.png');
  background-position:center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1000;
  margin:10px;
  width: 180px;
  height:80px;
}

p{
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
    font-weight: 300;
}
.btn{
    border-radius: 40px;
    font-size: 0.7rem;
     width: 100%;
}

.btn-outline-light:hover{
    color:var(--secondary-color)
}
.form{
  margin-top: 40px;
}
.form-control
{
  border:1px solid var(--secondary-color);
  font-size: 0.9rem;
  border-radius: 6px;
}

label{
  color:var(--secondary-color);
  font-size: 0.8rem;
  font-weight: 400;
  text-align: center;
}

button:disabled{
  background-color:var(--light-color) !important;
  border-color: var(--light-color) !important;
  color: var(--blue-light-color) !important;
}

.group-err-message{
  text-align: left;
}
.err-message{
    color:red;
    font-size: 0.7rem;
    margin-left: 0;
}

.ng-invalid{
  border-color:red;
}

.line-title {
  border-radius: 20px;
  height:3px;
  margin: 10px auto;
  width: 80px;
}

.btn-primary{
  background-color:var(--secondary-color);
  border-color:var(--secondary-color);
}

.btn-outline-primary{
  border-color:var(--secondary-color);
  color:var(--secondary-color);
}

.btn-outline-primary:hover{
  background-color:var(--secondary-color);
  border-color:var(--secondary-color);
}

.container-form{
  text-align:center;
}

h5{
margin:0;
}


.form-group{
  position: relative;
text-align: center;
}

.form-group label{
  position: absolute;
  text-align:center;
  top:8px;

}


/********style full screen***********/
.wrapper-full .btn{
  background-color: #FFFFFF !important;
  color:var(--primary-color);
  font-size: 1rem;
}

.wrapper-full .form-control{
  background-color: transparent !important;
  border-color: #FFFFFF;
  color:#FFFFFF;
}

.form-control.monthly-income{
  padding-right: 80px;
}

p.currency{
  color:var(--blue-light-color) !important;
  font-size: 0.8rem;
  position:absolute;
  top:9px;
  right: 10px;
}

.btn.cancel{
  background-color: transparent !important;
  color:#FFFFFF;
  margin-top: 10px;
}

select, option{
  text-transform: capitalize;
}


/***customize select2*/
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #FFF;
  line-height: 33px;
  background: var(--tertiary-color)  !important;
  border:1px solid #00f2e7;
  border-radius: 8px;
  text-align: left;
}

.select2-container--default .select2-selection--single {
  background-color: #184378;
  border: 0;
  border-radius: 8px;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #00f2e7;
  background-color: #184378;
  border-radius: 8px;
  color:#FFFFFF;
  font-family: var(--primary-font);
}

.select2-search--dropdown{
  background-color: #184378;
  border-radius: 8px;
}

.select2-dropdown {
  background-color: #184378;
  border: 1px solid #00f2e7;
  border-radius: 8px;
  color:#FFF;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #0aa5b7;
  color: white;
}

.select2-container--default .select2-results__option--selected {
  background-color: #0aa5b7;
  color: white;
}

.select2-container--open .select2-dropdown {
  left: 0;
  top: 10px;
}

.select2-container--open .select2-dropdown--below {
  border-top: 1px solid #00f2e7;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

